# RStudio cruft
.Rproj.user
.Rhistory
.RData
.Ruserdata

# USFarmSafetyNetLab.Rproj

# HPC batch + SLURM logs
job_*.sbatch
slurm-*.out

# -------------------------
# data-raw:
# -------------------------
data-raw/*
!data-raw/*.R
!data-raw/codestash/
!data-raw/readmes/
!data-raw/data_release/
data-raw/data_release/**
!data-raw/data_release/*.R

# -------------------------
# replications: 
# -------------------------
replications/*

!replications/fcip_calibrated_yields/

!replications/crop_insurance_instruments/

!replications/loss_cost_ratio_growth/
replications/loss_cost_ratio_growth/**
!replications/loss_cost_ratio_growth/*.R
!replications/loss_cost_ratio_growth/*.Rmd
!replications/loss_cost_ratio_growth/*.md

!replications/fcip_demand_response/
replications/fcip_demand_response/**
!replications/fcip_demand_response/*.R
!replications/fcip_demand_response/*.Rmd
!replications/fcip_demand_response/*.md


