# RStudio cruft
.Rproj.user
.Rhistory
.RData
.Ruserdata
USFarmSafetyNetLab.Rproj
job_*.sbatch
slurm-*.out
data-raw/*
!data-raw/scripts/
!data-raw/replications/

!data-raw/replications/fcip_calibrated_yields/

!data-raw/replications/crop_insurance_instruments/

!data-raw/replications/loss_cost_ratio_growth/
data-raw/replications/loss_cost_ratio_growth/**
!data-raw/replications/loss_cost_ratio_growth/*.R
!data-raw/replications/loss_cost_ratio_growth/*.Rmd
!data-raw/replications/loss_cost_ratio_growth/*.md

!data-raw/replications/fcip_demand_response/
data-raw/replications/fcip_demand_response/**
!data-raw/replications/fcip_demand_response/*.R
!data-raw/replications/fcip_demand_response/*.Rmd
!data-raw/replications/fcip_demand_response/*.md

# Hidden Safety Net of Underutilized Supplemental Insurance in US Agriculture 
# Francis Tsiboe, Hunter Biram, Amy Hagerman
!data-raw/replications/hidden_safetynet/
data-raw/replications/hidden_safetynet/data/
data-raw/replications/hidden_safetynet/output/
!data-raw/replications/hidden_safetynet/*.R
!data-raw/replications/hidden_safetynet/*.Rmd
!data-raw/replications/hidden_safetynet/*.md

